/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет на Кнопке #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

/* Структура CSS:
1. Шрифты
2. Переменные
3. Теги (базовые настройки и др.)
4. Классы (общие, ...*/

/* Переменные */
:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --hero-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --icons-color: #afb1b8;
  --grid-item: 3;
}
/* Рекомендуется всегда подключать */
/*Стили для box-sizing которые стоит использовать по-умолчанию*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Основное тело страницы */
body {
  margin: 0; /*Удаляет стандартный маржин 8пх*/
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Стандартный набор стилей для картинок */
img {
  display: block; /*чтобы убрать отступ под картинкой ка ынлайновый элем.*/
  max-width: 100%;
  height: auto;

  /* Стили для обнуления верхних отступов у элементов */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* визуальное скрытие */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Списки без стандартных точек */
/*Класс для обнуления базовых свойств у списков (ul)*/
.list {
  display: flex; /*для всех списков делает флех*/

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/*для всех списков делает маржин элемента*/
.list__item:not(:last-child) {
  margin-right: 30px;
}
/*Класс для обнуления базовых свойств у ссылок*/
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Выравнивание в один ряд списка навигации */
.menu {
  display: inline-flex;
}
/* отступы между эл. списка ссылок, кроме последнего */
.page-header__item:not(:last-child) {
  margin-right: 50px;
}
/* Выравнивание в один ряд всех эл. хедера (навигации) */
.page-header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}
/* Для увеличения кликабельной области ссылок в хедере  */
.navigation {
  display: flex;

  align-items: center;
  margin-right: auto;
}
/* logo */
.logo {
  margin-right: 93px;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo--black {
  color: var(--primary-text-color);
}
/* logo footer */
.logo--white {
  color: var(--hero-text-color);
}
/* Навигация */
.page-header__link {
  display: block;

  padding-top: 32px;
  /* padding-bottom: 32px; */

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__current::after {
  display: block;
  margin-top: 28px;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.page-header__current,
.page-header__link:hover,
.page-header__link:focus,
.addr__link:hover,
.addr__link:focus {
  color: var(--accent-color);
}
/* contacts */
.contact__link {
  display: flex;
  padding-bottom: 32px;
  align-items: center;
  color: var(--secondary-text-color);
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
/* social-icons__list */
.social-icons__list {
  display: inline-flex;
  padding-top: 16px;
}
.social-icons__item + .social-icons__item {
  margin-left: 10px;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover,
.social-icons__link:focus {
  fill: var(--hero-text-color);
  background-color: var(--accent-color);
}
.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--hero-text-color);
}
/* hero */
.hero {
  /* min-height: 100vh; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-color: var(--hero-bg-color);

  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main/overlay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  /* background-attachment: fixed; */
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; /*помагает пропустить события через скрытый бэкдроп*/
  /* transform: scale(0); */
  /* transition: transform 5250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  /* transform: scale(1); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden__modal {
  transform: translate(-50%, -50%) scale(0.8);
}
/* button */
.btn {
  align-items: center;
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-size: 16px;
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
}
.btn-main {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero-text-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-modal-close {
  /* display: block; */
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0px;

  /* background-image: url('../images/icons.svg#icon-close-black'); */
  background: var(--hero-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.btn-modal-close__icon {
  margin: 5px;
}
.btn-modal-close:hover,
.btn-modal-close:focus {
  fill: var(--accent-color);
}
/* Кнопки портфолио */
.btn-portfolio {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-portfolio__list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.btn-portfolio__item:not(:last-child) {
  margin-right: 8px;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}
/* features */
.feature-list {
  display: flex;
  padding: 0;
  list-style: none;

  color: var(--secondary-text-color);
}
/* Задаёт ширину эл. списка Особенностей */
.feature-list__item {
  /*display: block; /*чтобы растянулся на ширину родителя*/
  width: calc(100% / 12 * var(--grid-item));
}
.feature-list__trumb {
  height: 120px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.feature-list__icon {
  fill: currentColor;
  width: 70px;
  height: 70px;
}
.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
/* work */
.work-list__item {
  position: relative;
}
.work-list__title {
  position: absolute; /*Преподнятие текста над потоком*/
  width: 100%;
  height: 70px;
  padding-top: 27px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* team */
.team {
  background-color: var(--secondary-bg-color);
}
.team__list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--hero-text-color);
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-text-color);
}
/* Постоянные клиенты */
/* .client-icons { /* можливо треба перенести в .client-icons__list
  display: inline-flex;
  padding-top: 16px;
} */
.client-icons__list {
  flex-wrap: wrap;
  --grid-item: 6;
}
.client-icons__item {
  flex-basis: calc((100% - 30px * (var(--grid-item) - 1)) / var(--grid-item));
}
.client-icons__item + .client-icons__item {
  margin-left: 30px;
}
.client-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  border: 1px solid var(--icons-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icons__icon {
  fill: var(--icons-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icons__link:hover,
.client-icons__link:focus {
  border-color: var(--accent-color);
}
.client-icons__link:hover .client-icons__icon,
.client-icons__link:focus .client-icons__icon {
  fill: var(--accent-color);
}
/* порфолио карточки*/
.portfolio__list {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}
/* отступы между эл. списка ссылок, кроме последнего */
.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__item {
  margin-bottom: 30px;

  flex-basis: calc((100% - 30px * (var(--grid-item) - 1)) / var(--grid-item));

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Синий оверлей, появляющийся на карточках при ховере */
.card__img {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-text-color);

  transform: translateY(100%);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .card__overlay {
  opacity: 0.9;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-text-color);
  transform: translateY(0);
}
/* тень при ховере */
.portfolio__item:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__title {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: none;
}
.card__name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  background-color: var(--hero-bg-color);
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section__title {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  /* --grid-item: 2; */
}
.footer__widget-block {
  flex-basis: calc((50% - 45px) / 2);
}
.footer__widget-block:last-child {
  flex-basis: calc(50% - 15px);
}
.addr__list {
  display: inline;
}
.addr__title {
  margin-top: 20px;

  color: var(--hero-text-color);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addr__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.addr__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-social-icons,
.subscription {
  padding-top: 12px;
}
.footer-social-icons__list {
  padding-top: 0px;
}
.footer-social-icons__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons__link:hover,
.footer-social-icons__link:focus {
  background-color: var(--accent-color);
}
.footer-social-icons__icon {
  fill: var(--hero-text-color);
}
/* footer-form */
.footer-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-form__input {
  width: 358px;

  color: var(--hero-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus {
  border-color: var(--accent-color);
  color: var(--hero-text-color);
}
.footer-form__input {
  padding: 14px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  color: var(--primary-text-color);
}
.footer-form__btn,
.modal-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(((100% - 5 * 15px) / 3) * 1 + 35px);

  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* width: 200px; */
  height: 50px;

  letter-spacing: 0.06em;

  color: var(--hero-text-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form__icon {
  margin-left: 10px;
}

/* modal form */
.modal-form {
  display: block;
  padding: 40px;
}
.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input {
  padding: 12px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  /* font-size: 12px; */
  line-height: 1.14;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}
.modal-form__textarea > placeholder {
  color: #2196f3;
}
.modal-form__checkbox {
  display: block;

  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.checkbox__check-input {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
}
.checkbox__icon {
  position: relative;
  top: 3px;
  margin-right: 4px;

  border: 2px;
  border-style: solid;
  border-color: var(--primary-text-color);
  border-radius: 2px;
  fill: var(--hero-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__check-input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}
.checkbox__check-input:checked + .checkbox__icon {
  fill: var(--accent-color);

  border: 0;
}
.checkbox__agreement {
  color: var(--accent-color);
}
.modal-form__submit {
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
}
.modal-form__submit:hover,
.modal-form__submit:focus {
  background-color: #188ce8;
}
